<body >

    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form action="/RechercheComponent" method="GET">
            <div class="form-group">
              <div class="form-label-group">
                <input type="email" id="Matricule" class="form-control" placeholder="Matricule" required="required" autofocus="autofocus">
                <label for="Matricule">Matricule</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                <label for="inputPassword">Password</label>
              </div>
            </div>
            <input class="btn btn-primary btn-lg btn-block"  type="submit" value="ok">
          </form>
         
        </div>
      </div>
    </div>
  
    <!-- Bootstrap core JavaScript-->
   
  
  </body>
  
